.color-principal
{
	-fx-background-color: #852747; /*#1D2023;*/
	-fx-background-color: rgba(25,28,30,1);

	
}

.color-prueba
{
	
	-fx-background-color: #FF9292;
}

.color-medio
{
	-fx-background-color: rgb(235,235,235);
	
}

.panel-color-menu
{
	-fx-background-color: #1D2023;
}

.boton
{

	-fx-background-color: white;
	-fx-border-radius: 4;
	-fx-background-radius: 4;
	
}



.main
{
	-fx-border-color: white;
	
}

.encabezado
{
	-fx-border-width: 0 0 1 0;
	-fx-border-color:white;
	
	
}


.menu
{
	-fx-border-width: 0 1 0 0;
	-fx-border-color: white;
	
}

.buttonAmdSup
{
	-fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;    
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20.0;
    -fx-text-fill: black;
}


.adm-textfield
{
	/*-fx-background-color: linear-gradient(#0098FF, #A2D2FF);*/
	-fx-background-color: white;
	-fx-background-radius: 8;		
	-fx-border-radius:8;
	-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,.35), 10.0, 0.0, 0.0, 10.0);
	-fx-border-color: white;
	-fx-prompt-text-fill: black;
	-fx-text-fill: black;
}

.buttonAmdSup:hover
{
	
	/*-fx-background-color: #1D2023;*/
	-fx-background-color: rgb(240,240,240);
	-fx-text-fill: black;
	-fx-effect: dropShadow(three-pass-box, rgba(29, 32, 35,.9), 0.0, 0.0, 0.0, 7.0);
}


.buttonAmd {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;    
    -fx-font-family: "Roboto Medium";
    -fx-font-style: italic;
    -fx-font-size: 24.0;
    -fx-text-fill:white;

}

.buttonAmd:hover
{
	-fx-background-color: #E5E5E5;
	-fx-text-fill: black;	
	-fx-effect: dropShadow(three-pass-box, rgba(255,255,255,.3), 10.0, 0.0, 0.0, 5.0);
	-fx-fill: black;
	
}


.buttonAmdSup
{
	-fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;    
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20.0;
    -fx-text-fill: black;
}

.buttonAmdSup:hover
{
	
	/*-fx-background-color: #1D2023;*/
	-fx-background-color: rgb(240,240,240);
	-fx-text-fill: black;
	-fx-effect: dropShadow(three-pass-box, rgba(29, 32, 35,.9), 0.0, 0.0, 0.0, 7.0);
}

.shadow
{
	-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,.35), 10.0, 0.0, 0.0, 10.0);
	
}

.bordes
{
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}

/*RESERVACION*/

.res-main
{
	-fx-background-radius: 40px;
	-fx-border-radius: 40px;
}

.res-textfield
{
	-fx-background-color: rgba(0,0,0,0);
	
	
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}



